@import url(variables.css);

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
}

h2 {
    color: var(--color05);
}

h4 {
    color: var(--color02);
}

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

header div {
    display: flex;
    flex-direction: column;
}

.usuario {
    align-items: right;
}

.usuario img {
    width: 30px;
    border-radius: 50%;
}

.filtros input {
    border: 1px solid;
    border-color: var(--color03);
    border-radius: 5px;
    padding: 10px;
}

.filtros button {
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.catalogo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.producto {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.producto img {
    width: 100;
    border-radius: 20px;
}

img {
    border-radius: 20px;
}