<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="css/checkout.css">
</head>
<body>
    <header>
        <div><button class="volver" onclick="window.history.back()"><img src="../storage/img/back.png"></button></div>
        <div><h2>Checkout</h2></div>
        <div>Menu</div>
    </header>
    <main>
        <section class="items">
            <article class="item">
                <div class="itemInfo">
                <img src="../storage/img/imagen1.png">
                </div>
                <div>
                    <h4>Modern light clothes</h4>
                    <p>Dress modern</p>
                    <h4>$212.99</h4>
                </div>
                <div>
                    <button>-</button>
                    <h3>4</h3>
                    <button>+</button>
                </div>
                <hr>
            </article>
            <article class="item">
                <div class="itemInfo">
                <img src="../storage/img/imagen2.png">
                </div>
                <div>
                    <h4>Modern light clothes</h4>
                    <p>Dress modern</p>
                    <h4>$162.99</h4>
                </div>
                <div>
                    <button>-</button>
                    <h3>1</h3>
                    <button>+</button>
                </div>
                <hr>
            </article>
        </section>
        <section class="tarjeta">
            <h2>Shipping Information</h2>
            <div>
                <img src="../storage/img/visa.png">
            </div>
            <div>
                <p>**** **** **** 2134</p>
            </div>
            <div>
                <button><img src="../storage/img/abajo.png"></button>
            </div>
        </section>
        <section class="total">
            <button class="pay">Pay</button>
        </section>
    </main>
</body>
</html>