<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="../css/detail.css">
</head>
<body>
    <main>
        <section class="detalle">
            <button class="volver" onclick="window.history.back()"><img src="../storage/img/back.png"></button>
            <div class="detalleImg">
                <img src="../storage/img/imagen2.png">
            </div>
            <h1>Light Dress Bless</h1>
            <div class="detalleInfo">
                <div class="calificacion">
                    <h4>&#11088; 5.0</h4>
                    <p>(7.932 reviews)</p>
                </div>
                <div class="cantidad">
                    <button>-</button>
                    <h3>1</h3>
                    <button>+</button>
                </div>
            </div>
            <p>Its simple and elegant shape makes it perfect for those of you who like you who want minimalist clothes</p><h3>Read More...</h3>
            <hr>
        </section>
        <section class="tallas">
            <h2>Choose Size</h2>
            <h2>Color</h2>
        </section>
        <form action="./checkout.html">
            <button class="cart"><img src="../storage/img/cart.png">Add to Cart | $100.99</button>   
        </form>
        
        <footer>
            <h5>Autor: Kevin Chávez. 2026 Todos los derechos reservados.</h5>
        </footer>
    </main>
</body>
</html>