<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="../css/detail.css">
</head>
<body>
    <main>
        <section class="detalle">
            <button class="volver" onclick="window.history.back()"><img src="../storage/img/back.png"></button>
            <div class="detalleImg">
                <img src="../storage/img/imagen2.png">
            </div>
            <div class="detalleInfo">
                <h1>Light Dress Bless</h1>
                <h5>&#11088; 5.0</h5><p>(7.932 reviews)</p>
                <button>-</button>
                <h3>1</h3>
                <button>+</button>
            </div>
            <h5>Its simple and elegant shape makes it perfect for those of you who like you who want minimalist clothes</h5><h3>Read More...</h3>
            <hr>
        </section>
        <section class="tallas">
            <h2>Choose Size</h2>
            <h2>Color</h2>
        </section>
        <button>Add to Cart</button>   
        
    </main>
</body>
</html>